# Our current env
NODE_ENV=dev

# Server PORT
PORT=5000

# MongoDB Connection String
MONGODB=mongodb://127.0.0.1:27017/HMS
# MONGODB="mongodb+srv://<USER_ID>:<PASSWORD>@cluster0.pmwimvo.mongodb.net/<DB_NAME>?appName=Cluster0"

# JWT Signing Secret Key
JWT_SECRET=JWT_SECRET_HMS